<icon>
  <span>Django</span>
</icon>

<style>
  icon {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #44b78b;
    padding: 4px 8px;
    border-radius: 9999px;
    width: fit-content;
    height: 24px;

    span {
      font-size: 14px;

      color: white;
    }
  }
</style>
