---
//Components
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Toggle from "../components/Toggle.astro";
---

<Layout
  title="Porfolio de Gluitx - Desarrolador y programador web"
  description="Explora mi último portafolio, creado con Astro, el framework que ha elevado cada detalle. Descubre proyectos emocionantes, diseño cautivador y una experiencia de usuario inigualable. 💻 #DesarrolladorWeb #AstroFramework #PortafolioDigital"
>
  <main id="main">
    <Toggle />
    <Navigation />
    <Header />
    <Projects />
    <About />
    <Contact />
    <Footer />
  </main>
</Layout>

<style>
  main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    max-width: 896px;
    gap: 6rem;
    justify-content: start;
    align-items: center;
  }

  @media (max-width: 900px) {
    main {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  @media (max-width: 697px) {
    main {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 6rem;
    }
</style>
