---
import SectionTitle from "./SectionTitle.astro";
import UserCheckbox from "../icons/UserCeck.astro";
import { Image } from "astro:assets";
import glutix2 from "../assets/glutix2.jpg";
---

<div>
  <SectionTitle id="about" title="Sobre mi" icon={UserCheckbox} />
  <section>
    <article>
      <p>
        Me llamo <strong>Ricardo</strong>, también conocido como <strong
          >Glutix</strong
        >. Comencé en el mundo de la programación durante mis días
        universitarios, donde adquirí las bases utilizando el <strong
          >lenguaje C</strong
        >. Desde entonces, he evolucionado mis habilidades, <strong
          >creando fascinantes sitios web y APIs.</strong
        >
      </p>
      <p>
        Entre mis logros, destaco mi colaboración en el desarrollo de un
        increíble <strong>marketplace</strong>, donde tuve la oportunidad de
        aprender valiosas lecciones sobre <strong
          >trabajo en equipo y metodologías como Scrum.</strong
        >
      </p>
      <p>
        En la actualidad, me dedico a explorar nuevas tecnologías y a la <strong
          >creación activa de software</strong
        >
        para mejorar constantemente mis habilidades. Mi objetivo principal es <strong
          >crecer tanto a nivel personal como profesional.</strong
        >
      </p>
    </article>
    <Image
      class="image"
      src={glutix2}
      alt="retrato mio con auriculares"
      loading="lazy"
    />
  </section>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    article {
      display: flex;
      flex-direction: column;

      p {
        max-width: 50ch;
        color: var(--text-normal);
      }

      strong {
        color: var(--text-enfasis);
      }
    }
  }

  .image {
    width: 236px;
    height: 236px;
    border-radius: 16px;
    box-shadow: var(--secundary-color-bg) 0px 0px 0px 4px;
    transform: rotate(4deg);
    object-fit: cover;
    aspect-ratio: 1/1;
    filter: drop-shadow(2px 2px 12px var(--image-shadow));
  }

  @media (max-width: 697px) {
    section {
      display: flex;
      flex-direction: column-reverse;
      gap: 1rem;
      justify-content: start;
      align-items: start;
    }

    .image {
      margin: 0 auto;
      transform: rotate(0deg);
      width: 228px;
      height: 228px;
    }
  }
</style>
