<footer>
  <p>&copy; 2024 Glutix. <em>Todos los derechos reservados.</em></p>
</footer>
<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    gap: 1rem;
    padding: 4px;
  }

  em {
    color: var(--text-normal);
  }

  p{
    font-size: 14px;
  }
</style>
