<footer>
  <p>
    <em> Copyright &copy; 2025 por Ferreyra Ricardo</em>
  </p>
</footer>
<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 1rem;
    padding-bottom: 0.5rem;

    & em {
      color: var(--text-normal);
    }

    & p {
      font-size: 14px;
      color: var(--text-title);
    }

    & a:active {
      color: var(--text-title);
    }
  }
</style>
