<footer>
  <p>
    Inspirado en el porfolio de <a target="_blank" href="https://porfolio.dev/"
      >minidudev</a
    > ❤️ . <em>Casi todo los derechos reservados.</em>
  </p>
</footer>
<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 1rem;
    padding-bottom: 0.5rem;

    & em {
      color: var(--text-normal);
    }

    & p {
      font-size: 14px;
      color: var(--text-title);
    }

    & a {
      text-decoration: none;
      color: var(--text-title);
      border-bottom: 1px solid var(--text-title);
    }

    & a:active {
      color: var(--text-title);
    }
  }
</style>
