---
import ButtonCV from "./ButtonCV.astro";
import Social from "./Social.astro";
import { Image } from "astro:assets";
import glutix from "../assets/glutix.png";
---

<header>
  <div>
    <Image class="image" src={glutix} alt="fotografia de perfil" />

    <article>
      <section>
        <h1>Hola, soy Ricardo</h1>
        <ButtonCV />
      </section>
      <h2>
        <span class="enfasis">Desarrollador Web Full Stack.</span>
        <span class="low-enfasis"> De Chaco, Argentina.</span>
        <span class="low-enfasis-1"
          >Especializado en crear aplicaciones únicas.</span
        >
      </h2>
      <Social />
    </article>
  </div>
</header>

<style>
  header {
    width: 100%;
    padding-top: 8rem;
  }

  div {
    display: flex;
    gap: 2rem;
    justify-content: start;

    .image {
      border-radius: 50%;
      width: 160px;
      height: 160px;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    padding: 0.5rem;

    h1 {
      margin: 0;
      width: fit-content;
    }

    section {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    h2 {
      font-size: 1.2rem;
      max-width: 50ch;
    }

    .enfasis {
      color: var(--text-enfasis);
    }

    .low-enfasis {
      color: var(--text-enfasis-1);
    }

    .low-enfasis-1 {
      color: var(--text-enfasis-2);
    }
  }

  @media (max-width: 697px) {
    div {
      gap: 1rem;
    }

    article {
      h1 {
        width: 90px;
      }
    }
  }
</style>
