---
import ButtonCV from "./ButtonCV.astro";
import Social from "./Social.astro";
import { Image } from "astro:assets";
import glutix from "../assets/glutix.png";
---

<header id="home">
  <Image class="image" src={glutix} alt="fotografia de perfil" />
  <section>
    <div>
      <h1>Hola, soy Ricardo</h1>
      <ButtonCV />
    </div>

    <article>
      <h2>
        <span class="enfasis">Desarrollador Web Full Stack.</span>
        <span class="low-enfasis"> De Chaco, Argentina.</span>
        <span class="low-enfasis-1"
          >Especializado en crear aplicaciones únicas.</span
        >
      </h2>
    </article>
    <Social />
  </section>
</header>

<style>
  header {
    padding-top: 8rem;
    display: grid;
    width: 100%;
    grid-template-columns: 160px 1fr;
    grid-row: auto;
    gap: 2rem;
  
  
    .image {
      border-radius: 50%;
      width: 160px;
      height: 160px;
      
    }

    section {
      display: flex;
      flex-direction: column;
      height: fit-content;
      width: 100%;
      gap: 1rem;

      div {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        margin: 0;
        width: 100%;
        height: fit-content;

  


        h1 {
          margin: 0;
        }
      }

      article {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        height: fit-content;

        h2 {
          font-size: 1.2rem;
          max-width: 50ch;
        }

        .enfasis {
          color: var(--text-enfasis);
        }

        .low-enfasis {
          color: var(--text-enfasis-1);
        }

        .low-enfasis-1 {
          color: var(--text-enfasis-2);
        }
      }
    }
  }

  @media (max-width: 697px) {
    header {
      grid-template-columns: 124px 1fr;

      .image {
        width: 124px;
        height: 124px;
        
      }


      div{ 
        h1 {
          margin: 0;
          font-size: 24px;
        }
      }

      section { 
        
        span { 
        font-size: 20px;
        }

        article {
          display: inline-block;
          
        }
      }
    }
</style>
