<nav>
  <a href="/">Inicio</a>
  <a href="#about">Sobre mi</a>
  <a href="#projects">Proyectos</a>
  <a href="#contact">Contacto</a>
</nav>

<style>
  nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    height: 3rem;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;

    background-color: var(--secundary-color);
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: var(--text-enfasis););
  }
</style>
