<nav>
  <a href="#home">Inicio</a>
  <a href="#about">Sobre mi</a>
  <a href="#projects">Proyectos</a>
  <a href="#contact">Contacto</a>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 3rem;
    width: fit-content;
    padding: 1px 12px 1px 12px;
    border-radius: 100px;
    box-shadow: 0px 0px 0px 2px var(--image-shadow);
    position: fixed;
    z-index: 5;
    margin-top: 1rem;
    background-color: var(--secundary-color-variant);
  }

  a {
    text-decoration: none;
    padding: 4px 8px;
    color: var(--text-normal-variant);
    transition: 0.3s ease;
  }

  a:hover {
    border-radius: 30px;
    padding: 4px 8px;
    color: var(--text-enfasis);
  }

  @media (max-width: 697px) {
    nav {
      gap: 0.3rem;
      top: 0;

      padding: 0px 4px 0px 4px;
    }

    a {
      font-size: 10px;
      font-weight: 600;
    }
  }
</style>
