---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <link
      href="https://assets.calendly.com/assets/external/widget.css"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />

    <!-- Principio del widget de globo de Calendly -->
    <script
      src="https://assets.calendly.com/assets/external/widget.js"
      type="text/javascript"
      async></script>
    <script type="text/javascript">
      window.onload = function () {
        Calendly.initBadgeWidget({
          url: "https://calendly.com/ferreyra-ricardo/job-meeting",
          text: "Programe una reunión conmigo",
          color: "#1a1a1a",
          textColor: "#ffffff",
          branding: undefined,
        });
      };
    </script>
    <!-- Final del widget de globo de Calendly -->
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
    --primary-color: #121212;
    --secundary-color: #282828;
    --secundary-color-bg: #ffffff50;
    --text-normal: #d7d7d7;
    --text-enfasis: #f0e480;
    --text-enfasis-1: #e7a2b3;
    --text-enfasis-2: #b8d2ef;
  }
  html {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
    background-color: var(--primary-color);

    h1 h2 h3 h4 h5 h6 {
      text-wrap: balance;
    }

    h1 {
      font-size: 34px;
      line-height: 34px;
      margin: 0;
    }

    h2 {
      font-size: 30px;
      line-height: 36px;
      margin: 0;
    }

    p {
      text-wrap: pretty;
    }
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overscroll-behavior: none;
    width: 100%;
  }
</style>
